.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 0 8px;
}

.input-container {
  display: flex;
  gap: 16px;
  padding: 8px;
}

.label {
  width: 70px;
}

input {
  padding: 8px;
}

.required {
  color: red;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btn-outer-container {
  display: flex;
  justify-content: flex-end;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}

.btnContainer button {
  width: 120px;
  margin: 0.5rem;
  padding: 16px 0;
  border: 1px solid #1890ff;
}

.btnPrimary {
  background-color: #1890ff;
  color: white;
}

.btnOutline {
  background-color: white;
  color: #1890ff;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }

  .heading {
    margin: 1rem;
  }
}
